@using Geonorge.Symbol.Helpers

<script>
    function registerName(reg) {
        document.getElementById("register").value = reg;
        document.getElementById("registerSelected").innerHTML = reg;
    }
</script>

<form class="col-md-offset-2 col-md-8 hidden-print" action="@VirtualPathUtility.ToAbsolute("~/")">
    <h3 class="h-md" id="register-heading">Søk i register</h3>
    <div class="input-group input-group-split-on-xs edgesRegistre">
        @*Set edges* class for borders according to dropdown choice*@
        <div class="input-group-btn">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                <span id="registerSelected">Symboler</span>
                <span class="caret"></span>
            </button>
            <ul class="geonorge-dropdown dropdown-menu" id="search-dropdown" tabindex="-1">
                <li tabindex="0" onclick="registerName('Alle registre')" class="left-edge-registre"><a href="@Html.RegistryUrl()">Alle registre</a></li>
                <li tabindex="0" onclick="registerName('Objektregisteret')" class="left-edge-registre"><a href="/">Objektregisteret</a></li>
                <li tabindex="0" onclick="registerName('Det offentlige kartgrunnlaget')" class="left-edge-registre"><a href="@Html.RegistryUrl()register/det-offentlige-kartgrunnlaget">Det offentlige kartgrunnlaget</a></li>
                <li tabindex="0" onclick="registerName('EPSG koder')" class="left-edge-registre"><a href="@Html.RegistryUrl()register/epsg-koder">EPSG koder</a></li>
                <li tabindex="0" onclick="registerName('GML applikasjonsskjema')" class="left-edge-registre"><a href="@Html.RegistryUrl()register/gml-applikasjonsskjema">GML applikasjonsskjema</a></li>
                <li tabindex="0" onclick="registerName('Kodelister')" class="left-edge-registre"><a href="@Html.RegistryUrl()register/metadata-kodelister">Metadata kodelister</a></li>
                <li tabindex="0" onclick="registerName('Organisasjoner')" class="left-edge-registre"><a href="@Html.RegistryUrl()register/organisasjoner">Organisasjoner</a></li>
                <li tabindex="0" onclick="registerName('Produktark')" class="left-edge-registre"><a href="@Html.RegistryUrl()register/produktark">Produktark</a></li>
                <li tabindex="0" onclick="registerName('Produktspesifikasjoner')" class="left-edge-registre"><a href="@Html.RegistryUrl()register/produktspesifikasjoner">Produktspesifikasjoner</a></li>
                <li tabindex="0" onclick="registerName('Sosi kodelister')" class="left-edge-registre"><a href="@Html.RegistryUrl()register/sosi-kodelister">Sosi kodelister</a></li>
                <li tabindex="0" onclick="registerName('Digital kartografi')" class="left-edge-registre"><a href="@Html.RegistryUrl()kartografi/tegneregler">Digital kartografi</a></li>
                <li tabindex="0" onclick="registerName('Digital kartografi')" class="left-edge-registre"><a href="@Html.RegistryUrl()symbol/">Symboler</a></li>
                <li tabindex="0" onclick="registerName('Tegneregler')" class="left-edge-registre"><a href="@Html.RegistryUrl()register/tegneregler">Tegneregler</a></li>
            </ul>

        </div><!-- /input-group-btn -->
        <input name="text" style="z-index: 0;" type="text" placeholder="Søk etter registerdata" title="Søk" class="form-control" id="txtSearch" value="@(Request.QueryString["text"] != null ? Request.QueryString["text"].ToString() : "")" />
        <span class="input-group-btn">
            <button type="submit" class="show-loading-animation btn" data-loading-message="Henter søkeresultater" style="z-index: 0;">Søk</button>
        </span>
    </div>
</form>

