@model Geonorge.Symbol.Models.Symbol

@section breadcrumb {
    <li><a href="~/files/index">Symbol</a></li>
    <li>@Model.Name</li>
}
@{
    ViewBag.Title = "Symbol";
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                @Model.Name
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EksternalSymbolID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EksternalSymbolID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateChanged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateChanged)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficialStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficialStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceUrl)
        </dd>

    </dl>
    <hr />
    @foreach (var symbolFile in Model.SymbolFiles)
    {
    <div class="row">
        <div class="col-sm-12"><a href="@symbolFile.FileUrl()" target="_blank">@symbolFile.FileName</a></div>
    </div>
    }
    <hr />
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-print">
        <a class="hidden-print show-loading-animation pull-left" data-loading-message="Henter innhold" href="~/files/index">Tilbake</a>
        <a class="btn btn-default btn-space pull-right" style="margin-left: 15px;" href="~/files/Edit/@Model.SystemId">Rediger</a>
    </div>

</div>
