@model Geonorge.Symbol.Models.Symbol
@using Geonorge.Symbol.Models
@section breadcrumb {
    <li><a href="@VirtualPathUtility.ToAbsolute("~/files/index")">Symbol</a></li>
    <li>@Model.Name</li>
}
@{
    ViewBag.Title = "Symbol " + Model.Name;
}
<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="shortcut">
                @Model.Name
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>
<div>
    <dl class="dl-horizontal">
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        }
        @if (!string.IsNullOrEmpty(Model.SymbolId))
        {
            <dt>
                @Html.DisplayNameFor(model => model.SymbolId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SymbolId)
            </dd>
        }
        @if (!string.IsNullOrEmpty(Model.Theme))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Theme)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Theme)
            </dd>
        }
        @if (!string.IsNullOrEmpty(Model.Source))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Source)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Source)
            </dd>
        }
        @if (!string.IsNullOrEmpty(Model.SourceUrl))
        {
            <dt>
                @Html.DisplayNameFor(model => model.SourceUrl)
            </dt>

            <dd>
                <a href="@Model.SourceUrl" target="_blank">@Html.DisplayFor(model => model.SourceUrl)</a>
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.SymbolPackages)
        </dt>
        <dd>
            @if (Model.SymbolPackages != null)
            {
                foreach (var symbolpackage in Model.SymbolPackages)
                {
                    <a href="@VirtualPathUtility.ToAbsolute("~/symbolpackages/details/")@symbolpackage.SystemId">@symbolpackage.Name</a><br />
                }
            }
        </dd>
    </dl>
    <div class="striped-list">
        @{
            List<String> preferencesOrder = new List<String> { "positiv", "utenramme", "negativ" };
            var files = Model.SymbolFiles.OrderBy(item => preferencesOrder.IndexOf(item.Type)).ThenBy(o => o.Color).ToList();
        }
        @foreach (var variant in files.Select(v => v.SymbolFileVariant).Distinct().ToList())
        {

            <div class="list-item">
                @if (variant != null)
                {
                    <h2 style="font-size: 18pt;">@variant.Name</h2>

                }
                <div class="row">
                    <div class="col-sm-2 col-md-1">
                        @if (variant != null)
                        {
                            var images = Model.SymbolFiles.Where(v => v.SymbolFileVariant.SystemId == variant.SystemId && v.Format != "ai" && v.Format != "pdf" && v.Format != "eps" && v.Format != "tiff" && v.Size == "liten").ToList();
                            SymbolFile image = null;
                            if (images != null)
                            {
                                image = images.Where(va => va.Format == "svg").FirstOrDefault();
                                if(image == null)
                                {
                                    image = images.FirstOrDefault();
                                }
                                if (image != null)
                                {
                                    <img src="@image.FileUrl()" alt="@image.FileName" style="width: 100%;max-width: 75px;" />
                                }
                            }
                        }
                    </div>
                    <div class="col-sm-3">
                        <p><b>Format:</b><br /> @String.Join(", ", Model.SymbolFiles.Where(va => va.SymbolFileVariant.SystemId == variant.SystemId).Select(f => f.Format).Distinct())</p>
                        @{
                            var types = Model.SymbolFiles.Where(va => va.SymbolFileVariant.SystemId == variant.SystemId && !string.IsNullOrEmpty(va.Type)).Select(t => t.Type).Distinct();
                            if (types.Any())
                            {
                                <p><b>Symbolgrafikk:</b><br /> @String.Join(", ", types)</p>
                            }
                        }
                        @{
                            var colors = Model.SymbolFiles.Where(va => va.SymbolFileVariant.SystemId == variant.SystemId && !string.IsNullOrEmpty(va.Color)).Select(c => c.Color).Distinct();
                            if (colors.Any())
                            {
                                <p><b>Farge:</b><br /> @String.Join(", ", colors)</p>
                            }
                        }
                    </div>
                    <div class="col-sm-6">
                        @if (variant != null)
                        {
                            <b>Filer:</b>
                            foreach (var file in Model.SymbolFiles.Where(v => v.SymbolFileVariant.SystemId == variant.SystemId).ToList().OrderBy(o => o.Size).ThenBy(o => o.FileName))
                            {

                                <div><a href="@file.FileUrl()" target="_blank">@file.FileName</a></div>

                            }
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="pull-right">
                    @if (ViewBag.HasAccess)
                    {
                        <a class="btn btn-default btn-space" style="margin-left: 15px;" href="@VirtualPathUtility.ToAbsolute("~/symbolfiles/delete/")@variant.SystemId">Slett</a>
                        <a class="btn btn-default btn-space" style="margin-left: 15px;" href="@VirtualPathUtility.ToAbsolute("~/symbolfiles/edit/")@variant.SystemId">Rediger</a>
                    }
                    <a class="btn btn-default btn-space" style="margin-left: 15px;" href="@VirtualPathUtility.ToAbsolute("~/files/DownloadVariant/")@variant.SystemId">Last ned</a>
                </div>
                <div class="clearfix"></div>
            </div>
        }
    </div>
    <hr />
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-print">
        <a class="hidden-print show-loading-animation pull-left" data-loading-message="Henter innhold" href="@VirtualPathUtility.ToAbsolute("~/files/index")">Tilbake</a>
        @if (ViewBag.HasAccess)
        {
            <a class="btn btn-default btn-space pull-right" style="margin-left: 15px;" href="@VirtualPathUtility.ToAbsolute("~/files/Edit/")@Model.SystemId">Rediger</a>
            <a class="btn btn-default btn-space pull-right" style="margin-left: 15px;" href="@VirtualPathUtility.ToAbsolute("~/symbolfiles/Create/")@Model.SystemId">Legg til</a>
            <a class="btn btn-default btn-space pull-right" style="margin-left: 15px;" href="@VirtualPathUtility.ToAbsolute("~/files/Download/")@Model.SystemId">Last ned alle</a>
            <a class="btn btn-default btn-space pull-right" style="margin-left: 15px;" href="@VirtualPathUtility.ToAbsolute("~/files/Delete/")@Model.SystemId">Slett</a>
        }
    </div>
</div>
