@model PagedList.IPagedList<Geonorge.Symbol.Models.Symbol>
@using PagedList.Mvc;
@section breadcrumb {
    <li>Symbol</li>
}
@{
    ViewBag.Title = "Symboler";
}
@Html.Partial("_SearchBarPartial")
<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                Symboler
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>
<div class="row">

    <div class="col-no-padding-xs col-xs-12 col-sm-10 col-md-10 col-lg-10">
        Dette registeret inneholder symboler som brukes til styling av digital kartografi 
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="packageView" class="search-results">
            <br /><br />
            @foreach (var package in Model.Select(p => p.SymbolPackage).Distinct())
            {
                if (package != null)
                {
                    <div>
                    @{ var symbols = Model.Where(pa => (pa.SymbolPackage != null ? pa.SymbolPackage.SystemId : new Guid()) == package.SystemId).ToList(); }
                    @foreach (var symbol in symbols)
                    {
                        <a href="~/files/details/@symbol.SystemId"><img border="0" height="30" src="@symbol.ThumbnailUrl()" /></a>
                    }
                     <h4 style="font-weight:bold">@package.Name</h4>
                     <p>
                         Antall symboler i pakke: @package.Symbols.Count<br />
                         Eier: @package.Owner<br />
                         Tema: @package.Theme<br />
                         Offisiell symbolpakke: @Html.DisplayFor(model => package.OfficialStatus)<br /><br />
                         <a class="btn btn-default btn-space" href="~/symbolpackages/details/@package.SystemId">Detaljert informasjon</a>
                     </p>
                 </div>
                    }
              }
        </div>
        <div id="tableView" class="search-results">
            <div class="row search-results-table-heading">
                <div class="col-sm-4"><p>@Html.ActionLink("Symbolnavn", "Index", new { sortOrder = ViewBag.SymbolnameSortParm, text = ViewBag.text }, new { @class = ViewBag.SortOrder.Contains("symbolname") ? (ViewBag.SymbolnameSortParm.Contains("desc") ? "sorted-desc" : "sorted-asc") : "" })</p></div>
                <div class="col-sm-3"><p>@Html.ActionLink("Eier", "Index", new { sortOrder = ViewBag.Owner, text = ViewBag.text }, new { @class = ViewBag.SortOrder.Contains("owner") ? (ViewBag.Owner.Contains("desc") ? "sorted-desc" : "sorted-asc") : "" })</p></div>
                <div class="col-sm-3"><p>@Html.ActionLink("Tema", "Index", new { sortOrder = ViewBag.Theme, text = ViewBag.text }, new { @class = ViewBag.SortOrder.Contains("theme") ? (ViewBag.Theme.Contains("desc") ? "sorted-desc" : "sorted-asc") : "" })</p></div>
                <div class="col-sm-1"><p>Symbol</p></div>
            </div>


            <div class="menu-separator search-results-table-heading"></div>
            @foreach (var item in Model)
            {
                <div class="row result-row metadata">

                    <div class="col-sm-4">
                        @Html.ActionLink(item.Name ?? "->", "Details", new { SystemId = item.SystemId })
                    </div>
                    <div class="col-sm-3">
                        @Html.DisplayFor(modelItem => item.Owner)
                    </div>
                    <div class="col-sm-3">
                        @Html.DisplayFor(modelItem => item.Theme)
                    </div>
                    <div class="col-sm-1">
                        <a href="~/files/details/@item.SystemId"><img src="@item.ThumbnailUrl()" /></a>
                    </div>
                </div>
                <hr />
            }
        </div>
        Viser @(Model.TotalItemCount == 0 ? 0 : Model.FirstItemOnPage) - @Model.LastItemOnPage av @Model.TotalItemCount treff

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, text = ViewBag.text }))
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-print">
        <a class="hidden-print show-loading-animation pull-left" data-loading-message="Henter innhold" href="/">Tilbake</a>
        @if (Request.IsAuthenticated)
        {
            <a class="btn btn-default btn-space pull-right" style="margin-left: 15px;" href="~/symbolpackages/">Pakker</a>
            <a class="btn btn-default btn-space pull-right" href="~/files/Create">Registrer symbol</a>
        }

    </div>
</div>
