@model IEnumerable<Geonorge.Symbol.Models.Symbol>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EksternalSymbolID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateChanged)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAccepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficialStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EksternalSymbolID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEditedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateChanged)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAccepted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfficialStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Source)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SystemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SystemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SystemId })
        </td>
    </tr>
}

</table>
