@model Geonorge.Symbol.Models.SymbolFile

@section breadcrumb {
    <li><a href="~/files/index">Symbol</a></li>
    <li>Legg til</li>
}
@{
    ViewBag.Title = "Legg til symbol-fil";
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                Legg til symbol
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>


@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "symbolfileform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Symbol.SystemId)
    @Html.HiddenFor(m => m.Symbol.Name)

    <div class="form-horizontal">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Size", ViewBag.Size as SelectList, String.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Type", ViewBag.SymbolGraphics as SelectList, String.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Symbol", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="uploadFile" name="uploadFile" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Autogenerer filer fra svg", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="checkbox" id="autogenererFraSvg" name="autogenererFraSvg" value="True" />
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-print">
            <a class="hidden-print show-loading-animation pull-left" data-loading-message="Henter innhold" href="~/files/details?systemid=@Model.Symbol.SystemId">Tilbake</a>
            <input type="submit" value="Lagre" style="margin-left: 15px;" class="btn btn-default pull-right" />

        </div>
    </div>
}
