@model List<Geonorge.Symbol.Models.SymbolFile>

@section breadcrumb {
    <li><a href="~/files/index">Symbol</a></li>
    <li><a href="~/files/details/@Model[0].Symbol.SystemId">@Model[0].Symbol.Name</a></li>
    <li>Rediger @Model[0].SymbolFileVariant.Name</li>
}
@{
    ViewBag.Title = "Rediger symbol-variant";
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                Rediger @Model[0].SymbolFileVariant.Name
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

<p>Under konstruksjon, her er det tenkt at man kan redigere variant navn, samt at man kan fjerne, legge til filer</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model[0].SymbolFileVariant.SystemId)
        <div class="form-group">
            <label class="col-md-1">Variant:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" name="variant" value="@Model[0].SymbolFileVariant.Name" />
            </div>
        </div>

        @foreach (var file in Model)
        {
            <div class="row">
                <div class="col-md-10">@file.FileName</div>
                <div class="col-md-1"><input type="button" class="btn btn-default" disabled value="Rediger" /></div>
                <div class="col-md-1"><input type="button" class="btn btn-default" disabled value="Slett" /></div>
            </div>
            <hr />
        }
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" disabled value="Lagre" style="margin-left: 15px;" class="btn btn-default pull-right" />
                <input type="button" class="btn btn-default pull-right" disabled value="Legg til fil" />
                <a class="hidden-print show-loading-animation pull-left"  data-loading-message="Henter innhold" href="~/files/details?systemid=@Model[0].Symbol.SystemId">Tilbake</a>
            </div>
        </div>
    </div>
}

