@model Geonorge.Symbol.Models.SymbolFile

@section breadcrumb {
    <li><a href="@VirtualPathUtility.ToAbsolute("~/files/index")">Symbol</a></li>
    <li><a href="@VirtualPathUtility.ToAbsolute("~/files/details/")@Model.Symbol.SystemId">@Model.Symbol.Name</a></li>
    <li>Rediger @Model.FileName</li>
}
@{
    ViewBag.Title = "Rediger fil";
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                Rediger @Model.FileName
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "symbolfileform" }))
{
    @Html.AntiForgeryToken()


        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <input type="hidden" name="SystemId" value="@Model.SystemId" />
        <div class="row">
            <div class="col-md-4">
                @Html.Label("Filnavn", htmlAttributes: new { @class = "control-label" })
                <input type="text" id="FileName" name="FileName" value="@Model.FileName" />
            </div>
            <div class="col-md-2">
                @Html.Label("Symbolgrafikk", htmlAttributes: new { @class = "control-label" })
                <div class="custom-select">
                    @Html.DropDownList("Type", ViewBag.SymbolGraphics as SelectList, String.Empty, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                @Html.Label("Farge", htmlAttributes: new { @class = "control-label" })
                <input type="text" name="Color" id="Color" value="@Model.Color" />
            </div>
            <div class="col-md-3">
                @Html.Label("Størrelse", htmlAttributes: new { @class = "control-label" })
                <div class="custom-select">
                    @Html.DropDownList("Size", ViewBag.Sizes as SelectList, String.Empty, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-1 hidden-print">
                <input type="submit" value="Rediger fil" class="btn pull-left no-label" />
            </div>
        </div>
        <hr style="margin-top:2px; margin-bottom:6px;" />
        <a class="hidden-print show-loading-animation pull-left" data-loading-message="Henter innhold" href="@VirtualPathUtility.ToAbsolute("~/files/details?systemid=")@Model.Symbol.SystemId">Tilbake</a>
}

