@model List<Geonorge.Symbol.Models.SymbolFile>
@section breadcrumb {
    <li><a href="@VirtualPathUtility.ToAbsolute("~/files/index")">Symbol</a></li>
    <li><a href="@VirtualPathUtility.ToAbsolute("~/files/details/")@Model[0].Symbol.SystemId">@Model[0].Symbol.Name</a></li>
    <li>Rediger @Model[0].SymbolFileVariant.Name</li>
}
@{
    ViewBag.Title = "Rediger symbol-variant";
}
<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                Rediger @Model[0].SymbolFileVariant.Name
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "symbolvariantform" }))
{
    @Html.AntiForgeryToken()

    <div class="">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <input type="hidden" name="SymbolFileVariant.SystemId" value="@Model[0].SymbolFileVariant.SystemId" />
        <input type="hidden" id="FileToRemove" name="FileToRemove" value="" />
        <div class="row">
            <div class="col-md-6">
                <label>Variant:</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="SymbolFileVariant.Name" value="@Model[0].SymbolFileVariant.Name" />
                    <span class="input-group-btn">
                        <input type="submit" value="Endre" class="btn" />
                    </span>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-3">
                @Html.Label("Symbol", htmlAttributes: new { @class = "control-label" })
                <input type="file" id="uploadFile" name="uploadFile" />
            </div>
            <div class="col-md-3">
                @Html.Label("Symbolgrafikk", htmlAttributes: new { @class = "control-label" })
                <div class="custom-select">
                    @Html.DropDownList("Type", ViewBag.SymbolGraphics as SelectList, String.Empty, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">
                @Html.Label("Farge", htmlAttributes: new { @class = "control-label" })
                <input type="text" name="Color" id="Color" />
            </div>
            <div class="col-md-3">
                @Html.Label("Størrelse", htmlAttributes: new { @class = "control-label" })
                <div class="custom-select">
                    @Html.DropDownList("Size", ViewBag.Size as SelectList, String.Empty, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="hidden-print">
            <input type="submit" value="Legg til fil" class="btn pull-right" />
            <div class="clearfix"></div>
        </div>
        <div class="row search-results-table-heading">
            <div class="col-sm-5"><p>Filnavn</p></div>
            <div class="col-sm-2"><p>Symbolgrafikk</p></div>
            <div class="col-sm-2"><p>Farge</p></div>
            <div class="col-sm-1"><p>Størrelse</p></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
        </div>
        <div class="menu-separator search-results-table-heading"></div>
        <div class="striped-list">
            @foreach (var file in Model)
            {
                <div class="list-item">
                    <div class="row dataset-list metadata">
                        <div class="col-sm-5">@file.FileName</div>
                        <div class="col-sm-2">@file.Type</div>
                        <div class="col-sm-2">@file.Color</div>
                        <div class="col-sm-1">@file.Size</div>
                        <div class="col-sm-1">
                            <a class="hidden-print btn" data-loading-message="Henter innhold" href="@VirtualPathUtility.ToAbsolute("~/symbolfiles/editfile?systemid=")@file.SystemId">Rediger</a>
                        </div>
                        <div class="col-sm-1">
                            @if (Model.Count > 1)
                            {<input type="submit" class="btn pull-right" value="Slett" onclick="SetFileToRemove('@file.SystemId');" />
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-12">
        <a class="hidden-print show-loading-animation pull-left" data-loading-message="Henter innhold" href="@VirtualPathUtility.ToAbsolute("~/files/details?systemid=")@Model[0].Symbol.SystemId">Tilbake</a>
    </div>
}
@section scripts{
    <script>
        function SetFileToRemove(fileID) {
            console.log(fileID);
            $('#FileToRemove').val(fileID);
        }

    </script>
}