@model Geonorge.Symbol.Models.SymbolPackage

@section breadcrumb {
    <li><a href="@VirtualPathUtility.ToAbsolute("~/files/index")">Symbol</a></li>
    <li><a href="@VirtualPathUtility.ToAbsolute("~/symbolpackages/")">Symbolpakker</a></li>
    <li>Slett</li>
}
@{
    ViewBag.Title = "Symbolpakke slett";
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                Slett pakke
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

<h3>Er du sikker på at du vil slette symbolpakke?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficialStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficialStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-12">
                <a class="hidden-print show-loading-animation pull-left" data-loading-message="Henter innhold" href="@VirtualPathUtility.ToAbsolute("~/symbolpackages/Edit/")@Model.SystemId">Tilbake</a>
                <input type="submit" value="Slett" class="btn btn-default pull-right" />
            </div>
        </div>
    }
</div>
